$width: 60%;
@font-face {
  font-family: sans;
  src: url("../fonts/ABeeZee-Regular.otf");
}
@font-face {
  font-family: sans-serif;
  src: url("../fonts/Amble-Regular.ttf");
}
@font-face {
  font-family: SansOri;
  src: url("../fonts/Arcon-Regular.otf");
}
@font-face {
  font-family: Sans-bold;
  src: url("../fonts/SourceSansPro-Black.ttf");
}
